
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #111;
   color: #fff;
   padding: 1vh 2vw;
}
h1{
    color: #fff;
    margin-bottom: 2vh;
}

.info h2{
    margin-bottom: 2vh;
}

.info p{
    margin-bottom: 4vh;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.3s ease;
    margin-top: 8vh;
    text-decoration: none;
    color: #111;
    background-color: #fff;
    max-width: 120px;
}
.btn:hover{
    background-color: #d2dce6;
}